.to100{width: 100%; float: left;}
.to95{width: 95%; float: left;}
.to90{width: 90%; float: left;}
.to85{width: 85%; float: left;}
.to80{width: 80%; float: left;}
.to75{width: 75%; float: left;}
.to70{width: 70%; float: left;}
.to65{width: 65%; float: left;}
.to63{width: 63.33%; float: left;}
.to60{width: 60%; float: left;}
.to55{width: 55%; float: left;}
.to50{width: 50%; float: left;}
.to45{width: 45%; float: left;}
.to40{width: 40%; float: left;}
.to35{width: 35%; float: left;}
.to30{width: 30%; float: left;}
.to33{width: 33.33%; float: left;}
.to25{width: 25%; float: left;}
.to20{width: 20%; float: left;}
.to16{width: 16.66%; float: left;}
.to15{width: 15%; float: left;}
.to12{width: 12.5%; float: left;}
.to10{width: 10%; float: left;}
.to5{width: 5%; float: left;}
.to4{width: 4%; float: left;}
.to3{width: 3%; float: left;}
.to2{width: 2%; float: left;}
.to1{width: 1%; float: left;}
.to0{width: 0; float: left;}

.w1280to100{}
.w1280to95{}
.w1280to90{}
.w1280to85{}
.w1280to80{}
.w1280to75{}
.w1280to70{}
.w1280to65{}
.w1280to63{}
.w1280to60{}
.w1280to55{}
.w1280to50{}
.w1280to45{}
.w1280to40{}
.w1280to35{}
.w1280to30{}
.w1280to33{}
.w1280to25{}
.w1280to20{}
.w1280to16{}
.w1280to15{}
.w1280to12{}
.w1280to10{}
.w1280to5{}
.w1280to0{}

@media (max-width: 1280px) {
	.w1280to100{width: 100% !important;}
	.w1280to95{width: 95% !important;}
	.w1280to90{width: 90% !important;}
	.w1280to85{width: 85% !important;}
	.w1280to80{width: 80% !important;}
	.w1280to75{width: 75% !important;}
	.w1280to70{width: 70% !important;}
	.w1280to65{width: 65% !important;}
	.w1280to63{width: 63.33% !important;}
	.w1280to60{width: 60% !important;}
	.w1280to55{width: 55% !important;}
	.w1280to50{width: 50% !important;}
	.w1280to45{width: 45% !important;}
	.w1280to40{width: 40% !important;}
	.w1280to35{width: 35% !important;}
	.w1280to30{width: 30% !important;}
	.w1280to33{width: 33.33% !important;}
	.w1280to25{width: 25% !important;}
	.w1280to20{width: 20% !important;}
	.w1280to16{width: 16.66% !important;}
	.w1280to15{width: 15% !important;}
	.w1280to12{width: 12.5% !important;}
	.w1280to10{width: 10% !important;}
	.w1280to5{width: 5% !important;}
	.w1280to0{display: none !important;}
}


.w980to100{}
.w980to95{}
.w980to90{}
.w980to85{}
.w980to80{}
.w980to75{}
.w980to70{}
.w980to65{}
.w980to63{}
.w980to60{}
.w980to55{}
.w980to50{}
.w980to45{}
.w980to40{}
.w980to35{}
.w980to30{}
.w980to33{}
.w980to25{}
.w980to20{}
.w980to16{}
.w980to15{}
.w980to12{}
.w980to10{}
.w980to5{}
.w980to0{}

@media (max-width: 980px) {
	.w980to100{width: 100% !important;}
	.w980to95{width: 95% !important;}
	.w980to90{width: 90% !important;}
	.w980to85{width: 85% !important;}
	.w980to80{width: 80% !important;}
	.w980to75{width: 75% !important;}
	.w980to70{width: 70% !important;}
	.w980to65{width: 65% !important;}
	.w980to63{width: 63.33% !important;}
	.w980to60{width: 60% !important;}
	.w980to55{width: 55% !important;}
	.w980to50{width: 50% !important;}
	.w980to45{width: 45% !important;}
	.w980to40{width: 40% !important;}
	.w980to35{width: 35% !important;}
	.w980to30{width: 30% !important;}
	.w980to33{width: 33.33% !important;}
	.w980to25{width: 25% !important;}
	.w980to20{width: 20% !important;}
	.w980to16{width: 16.66% !important;}
	.w980to15{width: 15% !important;}
	.w980to12{width: 12.5% !important;}
	.w980to10{width: 10% !important;}
	.w980to5{width: 5% !important;}
	.w980to0{display: none !important;}
}


.w760to100{}
.w760to95{}
.w760to90{}
.w760to85{}
.w760to80{}
.w760to75{}
.w760to70{}
.w760to65{}
.w760to63{}
.w760to60{}
.w760to55{}
.w760to50{}
.w760to45{}
.w760to40{}
.w760to35{}
.w760to30{}
.w760to33{}
.w760to25{}
.w760to20{}
.w760to16{}
.w760to15{}
.w760to12{}
.w760to10{}
.w760to5{}
.w760to0{}

@media (max-width: 760px) {
	.w760to100{width: 100% !important;}
	.w760to95{width: 95% !important;}
	.w760to90{width: 90% !important;}
	.w760to85{width: 85% !important;}
	.w760to80{width: 80% !important;}
	.w760to75{width: 75% !important;}
	.w760to70{width: 70% !important;}
	.w760to65{width: 65% !important;}
	.w760to63{width: 63.33% !important;}
	.w760to60{width: 60% !important;}
	.w760to55{width: 55% !important;}
	.w760to50{width: 50% !important;}
	.w760to45{width: 45% !important;}
	.w760to40{width: 40% !important;}
	.w760to35{width: 35% !important;}
	.w760to30{width: 30% !important;}
	.w760to33{width: 33.33% !important;}
	.w760to25{width: 25% !important;}
	.w760to20{width: 20% !important;}
	.w760to16{width: 16.66% !important;}
	.w760to15{width: 15% !important;}
	.w760to12{width: 12.5% !important;}
	.w760to10{width: 10% !important;}
	.w760to5{width: 5% !important;}
	.w760to0{display: none !important;}
}



.w640to100{}
.w640to95{}
.w640to90{}
.w640to85{}
.w640to80{}
.w640to75{}
.w640to70{}
.w640to65{}
.w640to63{}
.w640to60{}
.w640to55{}
.w640to50{}
.w640to45{}
.w640to40{}
.w640to35{}
.w640to30{}
.w640to33{}
.w640to25{}
.w640to20{}
.w640to16{}
.w640to15{}
.w640to12{}
.w640to10{}
.w640to5{}
.w640to0{}

@media (max-width: 640px) {
	.w640to100{width: 100% !important;}
	.w640to95{width: 95% !important;}
	.w640to90{width: 90% !important;}
	.w640to85{width: 85% !important;}
	.w640to80{width: 80% !important;}
	.w640to75{width: 75% !important;}
	.w640to70{width: 70% !important;}
	.w640to65{width: 65% !important;}
	.w640to63{width: 63.33% !important;}
	.w640to60{width: 60% !important;}
	.w640to55{width: 55% !important;}
	.w640to50{width: 50% !important;}
	.w640to45{width: 45% !important;}
	.w640to40{width: 40% !important;}
	.w640to35{width: 35% !important;}
	.w640to30{width: 30% !important;}
	.w640to33{width: 33.33% !important;}
	.w640to25{width: 25% !important;}
	.w640to20{width: 20% !important;}
	.w640to16{width: 16.66% !important;}
	.w640to15{width: 15% !important;}
	.w640to12{width: 12.5% !important;}
	.w640to10{width: 10% !important;}
	.w640to5{width: 5% !important;}
	.w640to0{display: none !important;}
}

.w480to100{}
.w480to95{}
.w480to90{}
.w480to85{}
.w480to80{}
.w480to75{}
.w480to70{}
.w480to65{}
.w480to63{}
.w480to60{}
.w480to55{}
.w480to50{}
.w480to45{}
.w480to40{}
.w480to35{}
.w480to30{}
.w480to33{}
.w480to25{}
.w480to20{}
.w480to16{}
.w480to15{}
.w480to12{}
.w480to10{}
.w480to5{}
.w480to0{}

@media (max-width: 480px) {
	.w480to100{width: 100% !important;}
	.w480to95{width: 95% !important;}
	.w480to90{width: 90% !important;}
	.w480to85{width: 85% !important;}
	.w480to80{width: 80% !important;}
	.w480to75{width: 75% !important;}
	.w480to70{width: 70% !important;}
	.w480to65{width: 65% !important;}
	.w480to63{width: 63.33% !important;}
	.w480to60{width: 60% !important;}
	.w480to55{width: 55% !important;}
	.w480to50{width: 50% !important;}
	.w480to45{width: 45% !important;}
	.w480to40{width: 40% !important;}
	.w480to35{width: 35% !important;}
	.w480to30{width: 30% !important;}
	.w480to33{width: 33.33% !important;}
	.w480to25{width: 25% !important;}
	.w480to20{width: 20% !important;}
	.w480to16{width: 16.66% !important;}
	.w480to15{width: 15% !important;}
	.w480to12{width: 12.5% !important;}
	.w480to10{width: 10% !important;}
	.w480to5{width: 5% !important;}
	.w480to0{display: none !important;}
}



.w360to100{}
.w360to95{}
.w360to90{}
.w360to85{}
.w360to80{}
.w360to75{}
.w360to70{}
.w360to65{}
.w360to63{}
.w360to60{}
.w360to55{}
.w360to50{}
.w360to45{}
.w360to40{}
.w360to35{}
.w360to30{}
.w360to33{}
.w360to25{}
.w360to20{}
.w360to16{}
.w360to15{}
.w360to12{}
.w360to10{}
.w360to5{}
.w360to0{}

@media (max-width: 360px) {
	.w360to100{width: 100% !important;}
	.w360to95{width: 95% !important;}
	.w360to90{width: 90% !important;}
	.w360to85{width: 85% !important;}
	.w360to80{width: 80% !important;}
	.w360to75{width: 75% !important;}
	.w360to70{width: 70% !important;}
	.w360to65{width: 65% !important;}
	.w360to63{width: 63.33% !important;}
	.w360to60{width: 60% !important;}
	.w360to55{width: 55% !important;}
	.w360to50{width: 50% !important;}
	.w360to45{width: 45% !important;}
	.w360to40{width: 40% !important;}
	.w360to35{width: 35% !important;}
	.w360to30{width: 30% !important;}
	.w360to33{width: 33.33% !important;}
	.w360to25{width: 25% !important;}
	.w360to20{width: 20% !important;}
	.w360to16{width: 16.66% !important;}
	.w360to15{width: 15% !important;}
	.w360to12{width: 12.5% !important;}
	.w360to10{width: 10% !important;}
	.w360to5{width: 5% !important;}
	.w360to0{display: none !important;}
}












